/* || global variables || */
:root {
  /* color scheme */
    --bg: #d1d1d1;
    --primary: #34abeb;
    --secondary: #7e7e7e;
    --tertiary: white;

    --text: #2a2a2a;
    --text--alt: white;
}


/* || General setup || */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  background-color: var(--bg);
}

body {
  margin: 0 0;
}

main {
  display: flex;
}


/* || typography || */
h1, h2, h3 {
  color: var(--text);
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}


/* || header layout || */
header {
  background-color: var(--secondary);
  height: 100px;
  margin-bottom: 60px;
  display: flex;
}

.title_div {
  align-self: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-alt);
  width: 300px;
}
.title_div h1 {
  color: var(--text--alt);
}

.spacer_div {
  flex: auto;
}

.date_div {
  align-self: right;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 5px black;
}
.date_div h3 {
  color: var(--text--alt);
  margin: 0;
}


/* || aside layout || */
aside {
  width: 300px;
  border-radius: 10px;
  align-items: center;
  background-color: var(--primary);

}

.page_nav ul {
  list-style: none;
  font-size: 2rem;
  margin: 0;
  padding: 25px;
}

.page_nav li {
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 25px;

  display: flex;
  align-items: center;
}

.nav_icon {
  height: 50px;
  width: auto;
}

/* || TODO layout || */

/* Style the header */
#todoHeader {
  background-color: #0279da;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
/* Clear floats after the header */
#todoHeader:after {
  content: "";
  display: table;
  clear: both;
}

#todoList {
  margin: 0;
  padding: 0;
}

#todoList li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

/* Set all odd list items to a different color (zebra-stripes) */
#todoList li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#todoList li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#todoList li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#todoList li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}