/* || global variables || */
:root {
  /* color scheme */
    --bg: #d1d1d1;
    --primary: #34abeb;
    --secondary: #7e7e7e;
    --tertiary: white;

    --text: #2a2a2a;
    --text--alt: white;
}


/* || General setup || */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  background-color: var(--bg);
}

body {
  margin: 0 0;
}

main {
  display: flex;
}


/* || typography || */
h1, h2, h3 {
  color: var(--text);
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}


/* || header layout || */
header {
  background-color: var(--secondary);
  height: 100px;
  margin-bottom: 60px;
  display: flex;
}

.title_div {
  align-self: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-alt);
  width: 300px;
}
.title_div h1 {
  color: var(--text--alt);
}

.spacer_div {
  flex: auto;
}

.date_div {
  align-self: right;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 5px black;
}
.date_div h3 {
  color: var(--text--alt);
  margin: 0;
}


/* || aside layout || */
aside {
  width: 300px;
  border-radius: 10px;
  align-items: center;
  background-color: var(--primary);

}

.page_nav ul {
  list-style: none;
  font-size: 2rem;
  margin: 0;
  padding: 25px;
}

.page_nav li {
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 25px;

  display: flex;
  align-items: center;
}

.nav_icon {
  height: 50px;
  width: auto;
}