:root {
  /* Color Scheme */
  --primary-color: #0279da;
  --primary-bg-color: #888;
  --secondary-bg-color: #d9d9d9;

  --primary-text-color: black;
  --secondary-text-color: white;

  --task-bg-color: #eee;
  --task-alt-bg-color: #f9f9f9;
  --task-hover-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: var(--primary-bg-color);
}

/* OUTER LAYOUT (vertical now) */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER (full width) */
.header {
  height: 70px;
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.accentText {
  color: var(--primary-color);
}

/* BELOW HEADER (horizontal layout) */
.body {
  flex: 1;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  margin-top: 50px;
  background: var(--primary-color);
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  padding: 14px 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item a {
  text-align: center;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.nav-item:hover {
  background: var(--primary-bg-color);
}

.nav-item.active {
  background-color: var(--secondary-bg-color);
}

.nav-item.active a {
  color: var(--primary-color);
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin: 50px;
  margin-bottom: 25px;
  border-style: solid;
  border-radius: 10px;
}

#taskHeader {
  background: var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: left;
}

/* Clear floats after the header */
#taskHeader:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: var(--secondary-bg-color);
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: var(--primary-bg-color);
}

/* Style the list items */
#taskList li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: var(--task-bg-color);
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#taskList li:nth-child(odd) {
  background: var(--task-alt-bg-color);
}

/* Darker background-color on hover */
#taskList li:hover {
  background: var(--task-hover-color);
}

/* When clicked on, add a background color and strike out text */
#taskList li.checked {
  background: var(--primary-bg-color);
  color: var(--secondary-text-color);
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#taskList li.checked::before {
  content: '';
  position: absolute;
  border-color: var(--secondary-text-color);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}