:root {
    /* Color Scheme */
    --primary-color: #0279da;
    --primary-bg-color: #888;
    --secondary-bg-color: #d9d9d9;
    --primary-text-color: black;
    --secondary-text-color: white;
    --nav-selected-color: #4CAF50;
    --nav-hover-color: rgba(56, 51, 51, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: var(--primary-bg-color);
}

/* OUTER LAYOUT (vertical now) */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER (full width) */
.header {
  height: 70px;
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #ddd;
}

.accentText {
    color: var(--primary-color);
}

/* BELOW HEADER (horizontal layout) */
.body {
  flex: 1;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  margin-top: 50px;
  background: var(--primary-color);
  padding: 20px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
 padding: 14px 16px;
 border-radius:  10px;
 cursor: pointer;
 display: flex;
 align-items: center;
 gap: 10px;
}

.nav-item a {
  text-align: center;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.nav-item:hover {
  background: var(--primary-bg-color);
}

.nav-item.active {
  background-color: var(--secondary-bg-color);
}

.nav-item.active a {
  color: var(--primary-color);
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  margin:50px;
  margin-bottom: 25px;
  border-style: solid;
  border-radius: 10px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.card:first-child {
  flex: 2;
}