<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="style.css">
    <!-- Link to the external JS file -->
    <!-- defer to run JS after HTML is parsed -->
    <script src="todo.js" defer></script>
</head>

<body>
    <div id="todoHeader" class="header">
        <h2>TODO List</h2>
        <input type="text" id="todoInput" placeholder="Title...">
        <span onclick="newTodoElement()" class="addBtn">Add</span>
    </div>

    <ul id="todoList">
        <li>Hit the gym</li>
        <li class="checked">Pay bills</li>
        <li>Meet George</li>
        <li>Buy eggs</li>
        <li>Read a book</li>
        <li>Organize office</li>
    </ul>  
</body>

</html>