extends layout

block scripts
  script(src="/javascripts/todo.js", defer) 

block content
  div(id="todoHeader", class="header")
    h2 TODO List
    input(type="text", id="todoInput", placeholder="Title...")
    span(onclick="newTodoElement()", class="addBtn") Add

  ul(id="todoList")
    // create base tasks
    li Get dressed 
    li Eat food
    li Brush teeth
    li(class="checked") Clean room 
    li(class="checked") Fold laundry