doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title=title
    link(rel="stylesheet", href="/stylesheets/style.css")

    block scripts

  body

    // create page header
    header
      div(class="title_div")
        h1 #[span(style="color:var(--primary)") Task] Manager

      div(class="spacer_div")

      div(class="date_div")
        h3 Tusday
        h3 #[span(style="color:var(--primary)") 20/06/2023]

    // aside goes here
    aside
      nav(class="page_nav")
        ul 
          li 
            img(class="nav_icon", src="assets/screen.svg")
            a(href="#") Dashboard

          li 
            img(class="nav_icon", src="assets/screen.svg")
            a(href="#") Priority Tasks

          li 
            img(class="nav_icon", src="assets/screen.svg")
            a(href="#") Task List

          li 
            img(class="nav_icon", src="assets/screen.svg")
            a(href="#") Projects 

          li 
            img(class="nav_icon", src="assets/screen.svg")
            a(href="#") Events

    // main page content  
    block content
